AnyRTC-RTMP.sdf
Prj-Android/.idea/gradle.xml
Prj-Android/.idea/misc.xml
Prj-Android/.idea/caches/gradle_models.ser
Prj-Android/.idea/caches/build_file_checksums.ser
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi-v7a/ndkBuild_build_command.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi-v7a/android_gradle_build.json
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi/ndkBuild_build_output.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi/ndkBuild_build_command.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi/android_gradle_build.json
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi-v7a/ndkBuild_build_output.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi-v7a/ndkBuild_build_command.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi/ndkBuild_build_command.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi/android_gradle_build.json
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi-v7a/ndkBuild_build_output.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/armeabi/ndkBuild_build_output.txt
Prj-Android/app/.externalNativeBuild/ndkBuild/release/armeabi-v7a/android_gradle_build.json
